<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.spring.cloud.alibaba.business.social.mapper.HiapkColourMapper">
  <resultMap id="BaseResultMap" type="com.sy.spring.cloud.alibaba.business.social.domain.HiapkColour">
    <!--@mbg.generated-->
    <!--@Table social_hiapk_colour-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="colour" jdbcType="VARCHAR" property="colour" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="colour_number" jdbcType="VARCHAR" property="colourNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, colour, msg,colour_number
  </sql>
  <insert id="insertSelective" parameterType="com.sy.spring.cloud.alibaba.business.social.domain.HiapkColour">
    <!--@mbg.generated-->
    insert into social_hiapk_colour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="colour != null">
        colour,
      </if>
      <if test="msg != null">
        msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="colour != null">
        #{colour,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-26-->
  <update id="updateById">
    update social_hiapk_colour
     colour = #{updated.colour,jdbcType=VARCHAR},
     msg = #{updated.msg,jdbcType=VARCHAR},
     colour_number= #{updated.colourNumber}
     where id=#{updated.id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-26-->
  <delete id="deleteById">
    delete from social_hiapk_colour
    where id=#{id,jdbcType=BIGINT}
  </delete>

<!--auto generated by MybatisCodeHelper on 2020-04-26-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from social_hiapk_colour
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="colour != null">
        and colour=#{colour,jdbcType=VARCHAR}
      </if>
      <if test="msg != null">
        and msg=#{msg,jdbcType=VARCHAR}
      </if>
      <if test="colourNumber != null">
        and colour_number=#{colourNumber,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>
