<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.spring.cloud.alibaba.business.social.mapper.SocialImgMapper">
  <resultMap id="BaseResultMap" type="com.sy.spring.cloud.alibaba.business.social.domain.SocialImg">
    <!--@mbg.generated-->
    <!--@Table social_img-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="colour_id" jdbcType="BIGINT" property="colourId" />
    <result column="size_id" jdbcType="BIGINT" property="sizeId" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="charge" jdbcType="CHAR" property="charge" />
    <result column="reduce_integral" jdbcType="INTEGER" property="reduceIntegral" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
  </resultMap>

  <resultMap id="GetImgVo" type="com.sy.spring.cloud.alibaba.business.social.domain.vo.SocialImgVo" extends="BaseResultMap">
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_name" jdbcType="BIGINT" property="typeName" />
    <result column="type_parent_id" jdbcType="BIGINT" property="typeParentId" />
    <result column="type_parent_name" jdbcType="VARCHAR" property="typeParentName" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="colour" jdbcType="VARCHAR" property="colour" />
    <result column="colour_number" jdbcType="VARCHAR" property="colourNumber" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, url, type_id, colour_id, size_id, msg, `describe`, charge, reduce_integral, `status`,
    user_id
  </sql>
  <insert id="insert" parameterType="com.sy.spring.cloud.alibaba.business.social.domain.SocialImg">
    <!--@mbg.generated-->
    insert into social_img (id, url, type_id,
      colour_id, size_id, msg,
      `describe`, charge, reduce_integral,
      `status`, user_id)
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{typeId,jdbcType=BIGINT},
      #{colourId,jdbcType=BIGINT}, #{sizeId,jdbcType=BIGINT}, #{msg,jdbcType=VARCHAR},
      #{describe,jdbcType=VARCHAR}, #{charge,jdbcType=CHAR}, #{reduceIntegral,jdbcType=INTEGER},
      #{status,jdbcType=CHAR}, #{userId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.spring.cloud.alibaba.business.social.domain.SocialImg">
    <!--@mbg.generated-->
    insert into social_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="colourId != null">
        colour_id,
      </if>
      <if test="sizeId != null">
        size_id,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="charge != null">
        charge,
      </if>
      <if test="reduceIntegral != null">
        reduce_integral,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="colourId != null">
        #{colourId,jdbcType=BIGINT},
      </if>
      <if test="sizeId != null">
        #{sizeId,jdbcType=BIGINT},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=CHAR},
      </if>
      <if test="reduceIntegral != null">
        #{reduceIntegral,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectOneByMsgAfter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from social_img
        where msg <![CDATA[>]]> #{minMsg,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectFirstById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from social_img
    where id=#{id,jdbcType=BIGINT} limit 1
  </select>


  <select id="getHiapkListByParam" resultMap="GetImgVo">
          SELECT
        	si.*,
        	st.id type_id,
        	st.NAME type_name,
        	st2.id type_parent_id,
        	st2.NAME type_parent_name,
        	sz.size size,
        	sc.colour colour,
        	sc.colour_number colour_number,
        	ui.user_name user_name,
        	ui.photo_url photo_url
        FROM
        	social_img si
        	LEFT JOIN social_hiapk_type st ON si.type_id = st.id
        	LEFT JOIN social_hiapk_type st2 ON st2.id = st.parent_id
        	LEFT JOIN social_hiapk_size sz ON si.size_id = sz.id
        	LEFT JOIN social_hiapk_colour sc ON si.colour_id = sc.id
        	LEFT JOIN user_info ui ON si.user_id = ui.id
        where
            st2.status=1 and st.status = 1 and ui.status =1
            <if test="status == null">
              and  si.status != 5
            </if>
            <if test="status != null">
              and si.status == #{status,jdbcType=VARCHAR}
            </if>
            <if test=" userId != null">
              and si.ui == #{userId,jdbcType=VARCHAR}
            </if>
            <if test="charge != null">
              and si.charge == #{charge,jdbcType=VARCHAR}
            </if>
            <if test="typeId != null">
              and st.typeId == #{typeId,jdbcType=VARCHAR}
            </if>
            <if test="colourId != null">
              and sc.colour_id == #{colourId,jdbcType=VARCHAR}
            </if>
            <if test="sizeId != null">
              and sz.size_id == #{sizeId,jdbcType=VARCHAR}
            </if>
            <if test="createdStart != null">
              and si.created &gt;= #{createdStart,jdbcType=VARCHAR}
            </if>
            <if test="createdEnd != null">
              and si.created &lt;= #{createdEnd,jdbcType=VARCHAR}
            </if>
            <if test="reduceIntegralStart != null">
              and si.reduce_integral  &gt; #{reduceIntegralStart,jdbcType=VARCHAR}
            </if>
            <if test="reduceIntegralEnd != null">
              and si.reduce_integral &lt; #{reduceIntegralEnd,jdbcType=VARCHAR}
            </if>
        order by id desc

  </select>
</mapper>
